{% extends 'base.html.twig' %}

{% block title %}Artists index{% endblock %}

{% block body %}
    <h1>Artists index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nickname</th>
                <th>Photo</th>
                <th>Category</th>
                <th>Description</th>
                <th>Facebook_link</th>
                <th>Twitter_link</th>
                <th>Youtube_link</th>
                <th>Wordpress_link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.email }}</td>
                <td>{{ artist.nickname }}</td>
                <td>{{ artist.photo }}</td>
                <td>{{ artist.category }}</td>
                <td>{{ artist.description }}</td>
                <td>{{ artist.facebookLink }}</td>
                <td>{{ artist.twitterLink }}</td>
                <td>{{ artist.youtubeLink }}</td>
                <td>{{ artist.wordpressLink }}</td>
                <td>
                    <a href="{{ path('artists_show', {'id': artist.id}) }}">show</a>
                    <a href="{{ path('artists_edit', {'id': artist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('artists_new') }}">Create new</a>
{% endblock %}
