{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}

{% block body %}
    <h1>Artists</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artist.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ artist.email }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ artist.nickname }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ artist.photo }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ artist.category }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ artist.description }}</td>
            </tr>
            <tr>
                <th>Facebook_link</th>
                <td>{{ artist.facebookLink }}</td>
            </tr>
            <tr>
                <th>Twitter_link</th>
                <td>{{ artist.twitterLink }}</td>
            </tr>
            <tr>
                <th>Youtube_link</th>
                <td>{{ artist.youtubeLink }}</td>
            </tr>
            <tr>
                <th>Wordpress_link</th>
                <td>{{ artist.wordpressLink }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('artists_index') }}">back to list</a>

    <a href="{{ path('artists_edit', {'id': artist.id}) }}">edit</a>

    {{ include('artists/_delete_form.html.twig') }}
{% endblock %}
