{% extends 'base.html.twig' %}

{% block title %}Fans index{% endblock %}

{% block body %}
    <h1>Fans index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nickname</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fan in fans %}
            <tr>
                <td>{{ fan.id }}</td>
                <td>{{ fan.email }}</td>
                <td>{{ fan.nickname }}</td>
                <td>{{ fan.photo }}</td>
                <td>
                    <a href="{{ path('fans_show', {'id': fan.id}) }}">show</a>
                    <a href="{{ path('fans_edit', {'id': fan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fans_new') }}">Create new</a>
{% endblock %}
